/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 20/05/2014 11:45:00
 */

/* --------------------------------------------------------------------------------------------------------------------
 * Fontes diferenciadas
 * ----------------------------------------------------------------------------------------------------------------- */
@font-face{
    font-family	: TrebuchetMS;
    src		: url('fontes/trebuchet-ms.ttf');
}

/* --------------------------------------------------------------------------------------------------------------------
 * Elementos HTML
 * ----------------------------------------------------------------------------------------------------------------- */
body{
    /* Formatação da fonte */
    font-size   : 12px;
    font-family : TrebuchetMS, Tahoma, Verdana;    
}

/* --------------------------------------------------------------------------------------------------------------------
 * Cabeçalho da página
 * ----------------------------------------------------------------------------------------------------------------- */
header.dl{
    
}

/* --------------------------------------------------------------------------------------------------------------------
 * Menu da página
 * ----------------------------------------------------------------------------------------------------------------- */
nav.dl{
    
}

/* --------------------------------------------------------------------------------------------------------------------
 * Corpo da página
 * ----------------------------------------------------------------------------------------------------------------- */
div.dl{
    
}

/* --------------------------------------------------------------------------------------------------------------------
 * Rodapé da página
 * ----------------------------------------------------------------------------------------------------------------- */
footer.dl{
    
}
