/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 30/06/2014 09:16:35
 */

/* --------------------------------------------------------------------------------------------------------------------
 * DIV acima do conteúdo
 * ----------------------------------------------------------------------------------------------------------------- */
.sobre-tela{
    /* Posicionamento */
    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 10;
    
    /* Tamanho */
    width   : 100%;
    height  : 100%;
    
    /* Aparência */
    background: rgba(0,0,0,.6);
}

.sobre-tela > div.dl{
    /* Tamanho */
    max-height: 70%;
    
    /* Aparência */
    overflow-y: auto;
}

/* ---------------------------------------------------------------------------------------------------------
 * Carregando
 * ------------------------------------------------------------------------------------------------------ */
.carregando{
    /* Aparência */
    background          : #FFF url('imagens/loadbar.gif') no-repeat;
    background-position : bottom 2px center;
    border-radius       : 10px;
    display             : block;
    
    /* Margens e espaçamentos */
    margin  : 15% auto 0 auto;
    padding : 0 3px 25px 3px;
    
    /* Tamanho */
    width       : 345px;
    min-height  : 22px;
    
    /* Formatação do texto */
    line-height : 25px;
    font-style  : italic;
    color       : #069;
}

/* --------------------------------------------------------------------------------------------------------------------
 * Lista descritiva dos sub-módulos
 * ----------------------------------------------------------------------------------------------------------------- */
.modulo-subs{
    /* Tamanho */
    width: 100%;
    
    /* Margens e espaçamentos */
    margin  : 0;
    padding : 0;
    
    /* Aparência */
    list-style  : none;
    display     : table;
}

.sub-modulo{
    /* Posicionamento */
    float: left;
    
    /* Tamanho */
    width: 48%;
    
    /* Margens e espaçamentos */
    margin-bottom: 4%;
}

.sub-modulo:nth-child(odd){
    /* Margens e espaçamentos */
    margin-right: 4%;
}

.sub-modulo a{
    /* Formatação do texto */
    font-weight : normal;
    font-variant: small-caps;
}

.sub-modulo-descr{
    /* Formatação do texto */
    color: #999;
}

/* --------------------------------------------------------------------------------------------------------------------
 * Exibição das fotos do álbum
 * ----------------------------------------------------------------------------------------------------------------- */
.todas-fotos{
    /* Aparência */
    display: table;
    
    /* Tamanho */
    width: 100%;
}

figure.editar-foto{
    /* Aparência */
    display         : table;
    border          : 1px solid #CCC;
    border-radius   : 8px;
    
    /* Posicionamento */
    float: left;
    
    /* Tamanho */
    width       : 20%;
    height      : 200px;
    box-sizing  : border-box;
    
    /* Margens e espaçamentos */
    margin-left : 2.6%;
    margin-right: 2.6%;
    padding     : 0.5%;
}

figure.editar-foto:hover{
    /* Aparência 
    box-shadow: 0 0 10px rgba(0,0,0,.4); */
}

figure.editar-foto:nth-child(4n+1){
    /* Margens e espaçamentos */
    margin-left: 0;
}

figure.editar-foto:nth-child(4n){
    /* Margens e espaçamentos */
    margin-right: 0;
}

figure.editar-foto > img{
    /* Tamanho */
    max-width   : 100%;
    max-height  : 100%;
    
    /* Aparência */
    display: block;
    
    /* Margens e espaçamentos */
    margin: auto;
}

figure.editar-foto .capa{
    /* Posicionamento */
    float: left;
    
    /* Aparência */
    background-color: orange;
    border-radius   : 5px;
    
    /* Formatação do texto */
    color       : #FFF;
    line-height : 22px;
    
    /* Margens e espaçamentos */
    padding-left    : 3%;
    padding-right   : 3%;
}

/* --------------------------------------------------------------------------------------------------------------------
 * Visualização da foto no formulário
 * ----------------------------------------------------------------------------------------------------------------- */
figure.foto-preview{
    /* Tamanho */
    width   : 40%;
    height  : auto;
    
    /* Posicionamento */
    position: absolute;
    right   : 0;
    top     : 5%;
    
    /* Margens e espaçamentos */
    padding: 0.5%;
    
    /* Aparência */
    background-color: #FFF;
    border          : 1px solid #CCC;
}

figure.foto-preview > img{
    /* Tamanho */
    max-width   : 100%;
    max-height  : 100%;
}
