/**
 * @Autor	: Diego Lepera
 * @E-mail	: d_lepera@hotmail.com
 * @Projeto	: FrameworkDL
 * @Data	: 01/07/2014 09:58:21
 */

/* --------------------------------------------------------------------------------------------------------------------
 * Fontes personalizadas
 * ----------------------------------------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/* --------------------------------------------------------------------------------------------------------------------
 * Formatação de TAGs
 * ----------------------------------------------------------------------------------------------------------------- */
body{
    /* Aparência */
    background          : #424244 url('imagens/back-login.png') no-repeat;
    background-size     : contain;
    background-position : left 10% top;
    
    /* Formatação do texto */
    color       : #FFF;
    font-family : 'Ubuntu', sans-serif;
}

/* --------------------------------------------------------------------------------------------------------------------
 * Cabeçalho
 * ----------------------------------------------------------------------------------------------------------------- */
header.dl,
#form-login{
    /* Tamanho */
    box-sizing  : border-box;
    width       : 35%;
    
    /* Aparência */
    background-color: rgba(255,255,255,.25);
    border-radius   : 8px;
    
    /* Margens e espaçamentos */
    margin: auto;
    
    /* Posicionamento */
    position: relative;
}

header.dl{
    /* Margens e espaçamentos */
    margin-top  : 7.5%;
    padding     : 0 2.5%;
    
    /* Posicionamento */
    left: 0;
}

header.dl > .logotipo{
    /* Aparência */
    background-position: center;
    
    /* Tamanho */
    height: 100%;
}

header.dl > .slogan{
    /* Formatação do texto */
    text-align  : left;
    font-size   : 150%;
    font-weight : 500;
    font-style  : normal;
    line-height : 100%;
    color       : #FFF;
    
    /* Tamanho */
    width: 70%;
    
    /* Posicionamento */
    float: left;
    
    /* Margens e espaçamentos */
    margin-top: 7%;
}

/* --------------------------------------------------------------------------------------------------------------------
 * Formulário de login e alteração de senha
 * ----------------------------------------------------------------------------------------------------------------- */
#form-login{
    /* Margens e espaçamentos */
    padding: 2.5%;
    margin : 1% auto;
}

#form-login > fieldset{
    /* Formatação do texto */
    text-align: center;
}

#form-login label{
    /* Aparência */
    display: none;
}

#form-login input{
    /* Tamanho */
    width   : 60%;
    height  : 40px;
    
    /* Formatação do texto */
    text-indent: 30px;
    
    /* Aparência */
    background      : #FFF url('icones/sprite-login.png') no-repeat;
    border-radius   : 8px;
    border          : none;
}

#form-login #login{
    /* Aparência */
    background-position: left -5px top 0;
}

#form-login #senha{
    /* Aparência */
    background-position: left -5px top -40px;
}

#form-login #senha-nova{
    /* Aparência */
    background-position: left -5px top -80px;
}

#form-login #senha-nova-conf{
    /* Aparência */
    background-position: left -5px top -120px;
}

#form-login > .form-botoes{
    /* Margens e espaçamentos */
    margin: 5% auto 0 auto;
    
    /* Formatação do texto */
    text-align: center;
}

#form-login a{
    /* Formatação do texto */
    color           : yellow;
    text-decoration : none;
}

#form-login a:hover{
    /* Formatação do texto */
    text-decoration: underline;
}

/* --------------------------------------------------------------------------------------------------------------------
 * Rodapé
 * ----------------------------------------------------------------------------------------------------------------- */
footer.dl{
    /* Formatação do texto */
    text-align  : center;
    text-shadow : 0 0 15px rgba(255,255,255,.8);
}